---
import type {Social} from '../interfaces/interface';

const {name, url, icon} = Astro.props as Social
---

<a href={url}>
    <div>
        <img src={icon} alt={`${name} icon`} class="rounded-xl size-15"/>
    </div>
    <span>{name}</span>
</a>